<nav class="navbar">
  <div class="logo" routerLink="/home">
    <img src="/logo.png" />
  </div>

  <div class="menu">
    <a routerLink="/home">Home</a>
    <a routerLink="/cars">Coches</a>
    <a routerLink="/reservations">Mis reservas</a>
  </div>

  <div class="auth">
    <ng-container *ngIf="user; else login">
      <span class="user-email">{{ user.email }}</span>
      <a routerLink="/profile" class="login-link">
        <span class="material-icons">person</span>
        Mi cuenta
      </a>
      <button class="logout-btn" (click)="logout()">
        <span class="material-icons">logout</span>
        Salir
      </button>
    </ng-container>

    <ng-template #login>
      <a routerLink="/login" class="login-link">
        <span class="material-icons">person</span>
        Iniciar sesión
      </a>
    </ng-template>
  </div>
</nav>
