<div class="main">
  <h3>Crear una cuenta</h3>

  <form (submit)="register()" #form="ngForm">
    <label>Email:</label>
    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Introduce tu email"
      required
    />

    <label>Contraseña:</label>
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      placeholder="Introduce tu contraseña"
      required
    />

    <label>Confirmar contraseña:</label>
    <input
      type="password"
      name="confirmPassword"
      [(ngModel)]="confirmPassword"
      placeholder="Confirma tu contraseña"
      required
    />
    <p class="error" *ngIf="passwordLongitudError">
      La contraseña debe tener al menos 6 caracteres
    </p>
    <p class="error" *ngIf="passwordError">Las contraseñas no coinciden</p>

    <div class="wrap">
      <button type="submit">Register</button>
    </div>
  </form>

  <p>
    ¿Ya tienes cuenta?
    <a routerLink="/login">Iniciar sesión</a>
  </p>
</div>
